.shadow-1 {
    border-bottom: 1px solid #b49465;
}
.b-radius-1 {
    border-radius: .5rem .5rem 0 0;
}

.b-radius-2 {
    border-radius: 0 0 .5rem .5rem;
}
.b-radius-3 {
    border-radius: 0 0 0 1.5rem;
}

.b-color-1 {
    background-color: #f7ae80;
}
.progress-1 {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #0000008f;
    justify-content: center;
    align-items: center;
    color: wheat;
    display: flex;
    font-size: 1.2rem;
    text-shadow: 3px 3px 4px #000000;
}