.C_Loading {
    width: 45px;
    position: absolute;
    right: 0;
    top: 0;
    > svg {
        margin: auto;
        display: block;
        shape-rendering: auto;
    }
}
.loading-error {
    color: #e04857;
    text-shadow: 2px 2px 5px #a79090;
    position: absolute;
    right: 4px;
}