.td-filter-box {
    display: flex;
    flex-direction: column;
}

.C_Conversion {
    .dropdown-item.danger {
        background-color: #ffcdd2;
    }
    .dropdown-item:active {
        color: black;
    }
}
