.td-filter-box {
    display: flex;
    flex-direction: column;
}

.C_Conversion {
    .dropdown-item.danger {
        color: red;
    }
    .dropdown-item:active {
        color: black;
    }
    .loading-error {
        position: relative;
        right: auto;
    }
    .td-filter-box {
        .dropdown-item.active, .dropdown-item:active{
            background-color: #007bff00;
        }
        .dropdown-item:focus, .dropdown-item:hover{
            background-color: #007bff00;
        }
        .dropdown-item{
            padding: .25rem .5rem;
        }
    }
    .td-filter-box{
        .dropdown-toggle {
            padding: .5rem .6rem;
            background-color: #f8f9fa;
        }
        .dropdown-item {
            padding: 0;
            button {
                font-size: .75rem;
                margin-top: 0;
            }
        }
    }
    .action-box {
        padding-right: 0;
        padding-left: 0;
        & > span {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .dropdown-toggle {
            padding: .5rem .6rem;
            margin: 0;
        }    
    }
    .pagination-wrapper {
        ul {
            display: flex;
            flex-flow: wrap;
        }
    }
    .lmt {
        width: 200px;
        td {
            display: flex;
            & > .y {
                flex: 1;
                display: flex;
                align-items: center;
            }
            & > .x {
                flex: 2;
            }
        }
    }
}
