.home_btn:hover {
    color: white;
    text-decoration: none;
}
.home_btn {
    color: white;
}
.home_btn_row {
    position: absolute;
    right: 6%;
    bottom: 6%;
}

.bimg-page-1 {
    background-color: rgb(0, 0, 0);
    background-image: url(https://cdn.pixabay.com/photo/2021/03/25/09/10/man-6122484_1280.jpg);
    background-size: cover;
    // background-image: url(../img/e-bg-1.png);
    // background-size: 80% auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-origin: content-box;
    min-height: 700px;
    height: 100vh;
    position: relative;
}
.btn-enter {
    padding: 0;
    height: 41px;
    > a {
        padding: 0.5rem 1.5rem;
    }
}
