.C_KeyGenerator {
    .refresh-btn {
        float: right;
        cursor: pointer;
        margin-left: 1rem;
    }
    .minimize-card {
        float: right;
        cursor: pointer;
    }
    .minimize-zone {
        position: relative;
        transition: all 0.4s ease;
    }
    .minimize-zone-active {
        overflow: hidden;
        z-index: -100;
        opacity: 0;
    }
    .actions {
        div {
            display: flex;
            justify-content: space-around;
        }
        button {
            border-width: 0;
            background: transparent;
        }
        .btnDelete {
            color: #e04857;
        }
        .btnEdit {
            color: #007bff;
        }
    }
    .dt-range {
        .picker-input__text {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }
    }
    .loading-error {
        left: 25%;
    }
    td .activated {
        margin-left: 0.5rem;
    }
}
.client-info {
    .list-group-item {
        color: #199736;
    }
    .lbl {
        color: #907c7c;
        font-weight: 400;
    }
}
