body {
    // background-color: #4795d4;
    background-color: #459457;
}
.bimg-page-2 {
    .gutter {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .logo-1 {
        background-image: url(../../img/e-bg-1.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: left;
        background-size: contain;
        background-origin: content-box;
        height: 75px;
        box-sizing: border-box;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .space-1 {
        padding-top: 1.5rem;
        padding-right: 2.5rem;
    }
    .space-2 {
        padding-top: 0.7rem;
    }
    .space-3 {
        min-height: 500px;
        padding-bottom: 1.5rem;
    }

    .grp-1,
    .grp-2,
    .grp-3 {
        padding-top: 0.3rem;
        max-height: 500px;
        overflow: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .grp-1 > li {
        margin: auto 0.2rem 0.3rem 0.2rem;
        text-align: center;
        border-color: black;
        font-weight: bold;
        cursor: pointer;
    }
    .grp-2 > li {
        background-color: #a05114;
        color: white;
        font-weight: bold;
        font-size: medium;
        cursor: pointer;
        margin: auto 0.2rem 0.3rem 0.2rem;
    }
    .grp-3 > li {
        background-color: #fdc761;
        margin: auto 0.2rem 0.4rem 0.2rem;
        font-size: x-large;
        font-weight: 500;
        font-family: monospace;
        padding: 0.35rem 1.25rem 0.35rem 1.6rem;
        cursor: pointer;
    }
}
.b-orange {
    background-color: #ffae06;
}
.center-xy {
    align-items: center;
    justify-content: center;
}
.c-white {
    color: white;
}
.b-red {
    background-color: #f10000;
}
.b-green {
    background-color: #028a00;
}
.text-large-1 {
    font-size: x-large;
}
.content-box {
    background-clip: content-box;
}
